{% extends 'base.html.twig' %}

{% block title %}Création d'un nouvel utilisateur{% endblock %}
{% block stylesheets %}
    <style>
        body {
            background-image: url("{{ asset("img/sunset.png") }}");
        }
    </style>
{% endblock %}
{% block body %}
    <h1>Création d'un nouvel utilisateur</h1>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-group">
        {{ form_row(form.firstname, {'label': 'Prénom', 'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.lastname, {'label': 'Nom', 'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.email, {'label': 'Email', 'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Créer un utilisateur</button>
        </div>
    </div>
    {{ form_end(form) }}


{% endblock %}
