{% extends 'base.html.twig' %}
{% block title %}Liste des catégories présentes au sein du zoo{% endblock %}
{% block route %} {{ path('app_categories') }} {% endblock %}
{% block body  %}
    <h1 class="subsectionTitle text-center">Liste des catégories présentes au sein du zoo</h1>
    <hr>
    <ul class="container d-flex flex-wrap justify-content-center">
        {% for category in categories %}
                <li class="card left-card m-3" style="width: 80vh">
                    {% set image = category.image.image|default(null) %}
                    <img class="card-img-top" src="{{ image ?? asset('/img/default.png')}}" alt="Image inconnue" width="256" height="256">
                    <div class="card-body">
                        <h5 class="card-title">La catégorie des {{ category.name }}</h5>
                        <p class="card-text"
                        >{{ category.description }}</p>
                        <a class="btn btn-primary"  href="{{ path('app_families', {'idCategory': category.id}) }}"> Voir les familles appartenant à cette catégorie</a>
                    </div>
                </li>
        {% endfor %}
    </ul>

{% endblock %}
