<div id="carousel-event" class="flex-grow-1 align-items-center carousel slide carousevent d-flex justify-content-center" data-bs-ride="carousel"  >
    <div class="carousel-indicators">
        {% for i in 0..events | length -1 %}
            <button type="button" data-bs-target="#carousel-event" data-bs-slide-to="{{ i }}" {{ i==0?"class='active'":""}} aria-current="true" aria-label="Slide {{ i }}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner w-75 rounded text-center">
        {% set i= true %}
        {% for event in events %}
            {% if enclosure %}
                {% for ev in event %}
                    {% set date = ev.Durationformat(COOKIE) %}
                    <div class="carousel-item data-bs-interval=500  {{ i?"active":"" }}" >
                        {% set i=false %}
                        <div class="event">
                            <a class="link-event"  href="{{ path('app_event_show', {id:ev.id}) }}">
                                        <span class="badge bg-warning">
                                            {{ ev.name |capitalize }}
                                        </span>
                                <span class="badge bg-secondary" >
                                            {{ ev.enclosure.name |capitalize }}
                                         </span>
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                            <div class="crud d-flex">
                                <a class="btn btn-danger w-50 delete" href="{{ path('app_event_delete', {id:ev.id}) }}">SUPPRIMER</a>
                                <a class="btn btn-success w-50 update" href="{{ path('app_event_update', {id:ev.id}) }}">Modifier</a>
                            </div>
                            {% endif %}

                        </div>
                    </div>


                {% endfor %}
            {% else %}

                <div class="carousel-item  data-bs-interval=500 {{ i?"active":"" }}" >
                    {% set i=false %}
                    <div class="event">
                        <a class="link-event d-flex flex-column"  href="{{ path('app_event_show', {id:event.id}) }}">
                            <span class="badge bg-warning">{{ event.name |capitalize }}</span>
                            <span class="badge bg-secondary" >
                                {{ event.enclosure.name |capitalize }}
                            </span>
                        </a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="crud d-flex">
                            <a class="btn btn-danger w-50 delete" href="{{ path('app_event_delete', {id:event.id}) }}">SUPPRIMER</a>
                            <a class="btn btn-success w-50 update" href="{{ path('app_event_update', {id:event.id}) }}">Modifier</a>
                        </div>
                    {% endif%}
                    </div>
                </div>

            {% endif %}
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-event" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button"  data-bs-target="#carousel-event" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>