{% extends 'base.html.twig' %}

{% set title = "Suppression de #{event.name}" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1 class="subsectionTitle">{{ title }}</h1>
    <div class="alert alert-danger" role="alert">
        Voulez-vous vraiment supprimer l'événement {{event.name}} ?
    </div>
    {{ form_start(form, {'attr': {'class': ' d-flex justify-content-around'}}) }}
    {{ form_row(form.cancel, {'label': 'Annuler', 'attr': {'class': 'btn btn-secondary'}}) }}
    {{ form_row(form.delete, {'label': 'Supprimer', 'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(form) }}
{% endblock %}