{% extends 'base.html.twig' %}

{% block title %} {{ event.name | capitalize}} {% endblock %}

{% block body %}

    <h1 class="subsectionTitle">{{ event.name |capitalize}}</h1>
    <dl>
        <dt> Description évènement </dt>
        <dd> {{ event.description | capitalize }}</dd>
        <dt> Nombre de visiteurs</dt>
        <dd> {{ event.quota }}</dd>
    </dl>


    {% set cle=-1 %}
    {% set cleprev=-1 %}
    {% for key,value in events %}
        {%if value.id == event.id%}
            {% set cle = key%}
            {% set cleprev=key %}
        {% endif %}
    {% endfor %}

    {% if cle==events|length -1  %}
        {% set cle=-1 %}
    {% endif %}

    {% set next=events[cle+1].id  %}

    {% if cleprev<=0 %}
        {% set cleprev= (events|length)  %}
    {% endif %}

    {% set previous=events[cleprev-1].id  %}

    <p>Pour en apprendre plus sur d'autres évènements</p>
    <div class="btn-group" role="group" aria-label="Basic mixed styles" >
        <a  class="btn btn-warning" href="{{ path('app_event_show', {id:previous}) }}">Événement précédent</a>
        <a class="btn btn-primary" href="{{ path('app_event_show', {id:next}) }}">Événement suivant</a>
    </div>
    {% if isRegister %}
        <a class="btn btn-outline-success" href="{{ path('app_event_inscriptionupdate', {id:registration.id}) }}"> Modifier votre inscription à l'évènement {{ event.name }}</a>
        <a class="btn btn-danger" href="{{ path('app_event_deleteregistrations', {id:registration.id}) }}"> Supprimer votre inscription à l'évènement {{ event.name }}</a>
    {% else %}
        <a class="btn btn-outline-light " href="{{ path('app_event_inscriptioncreate', {id: event.id}) }}"> S'inscrire à l'évènement {{ event.name }}</a>
    {% endif %}





{% endblock %}
