{% extends 'base.html.twig' %}
{% set title = "Suppression de l'inscription de #{register.user.lastname} pour l'évènement #{register.event.name}" %}

{% block body %}
<h1 class="subsectionTitle">{{ title }}</h1>
    {{ form_start(form, {'attr': {'class': ' d-flex justify-content-around'}}) }}
        {{ form_row(form.delete,{'label':'Supprimer'}) }}
        {{ form_row(form.cancel,{'label':'Annuler','attr':{'class':'btn btn-secondary'}}) }}
    {{ form_end(form)}}
    {% if not_deletable %}
    <div class="alert alert-danger" role="alert">
        L'inscription ne peut pas être supprimé pas de bol...
    </div>
    {% endif %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

