{{ form_start(form) }}
    {{ form_row(form.firstname, {'label': 'Firstname'}) }}
    {{ form_row(form.lastname, {'label': 'Lastname'}) }}
    {{ form_row(form.email, {'label': 'Email'}) }}
    {{ form_row(form.phone, {'label': 'Phone'}) }}
    {{ form_row(form.category, {'label': 'Category', 'placeholder' : 'Catégorie ?'}) }}
<button type="submit" class="btn btn-primary w-100">{{ submit_label }}</button>
{{ form_end(form) }}
