{% extends 'base.html.twig' %}

{% block title %}Suppression de {{ contact.lastname }}, {{ contact.firstname }}{% endblock %}

{% block body %}
    <h1>Suppression de <span class="lastname">{{ contact.lastname }}</span>, <span class="firstname">{{ contact.firstname }}</span></h1>
    {{ form_start(form, {'attr': {'class': 'd-flex'}}) }}
    {{ form_row(form.delete, { 'label': 'Suppression du contact' ,'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_row(form.cancel, { 'label': 'Annuler la suppression', 'attr': {'class': 'btn btn-secondary'}}) }}
    {{ form_end(form) }}
{% endblock %}
