{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="subsectionTitle">Fiche de l'animal {{ animal.name | capitalize}} ({{ animal.species.name }})</h1>
    <dl>
        <dt>Nom :</dt>
        <dd>{{ animal.name | capitalize }}</dd>

        <dt>Description :</dt>
        <dd>{{ animal.description }}</dd>

        <dt>Espèce :</dt>
        <dd><span class="badge bg-secondary">
                <a class="nav-link"
                   href="{{ path("app_animals", {idSpecies: animal.species.id}) }}">{{ animal.species.name | capitalize }}</a>
            </span>
        </dd>

        <dt>Enclos :</dt>
        <dd><span class="badge bg-secondary">{{ animal.enclosure.name | capitalize}}</span></dd>

        {% set image = animal.image.image|default(null) %}
        <dt>Image :</dt>
        <dd><img src="{{ image ?? asset('img/default.png') }}" width="256" height="256" alt="Image animal">
        </dd>

        {% if animal.parent1 is not null %}
            <dt>Parent(s) :
                <ul>
                    <li><span class="badge bg-secondary">
                            <a class="nav-link"
                               href="{{ path("app_animal_show", {id: animal.parent1.id}) }}">{{ animal.parent1.name }}</a>
                        </span>
                    </li>
                    {% if animal.parent2 is not null %}
                        <li><span class="badge bg-secondary">
                            <a class="nav-link"
                               href="{{ path("app_animal_show", {id: animal.parent2.id}) }}">{{ animal.parent2.name }}</a>
                        </span>
                        </li>
                    {% endif %}
                </ul>
            </dt>
        {% endif %}
        <dt>Nombre de personnes inscrites pour des événements avec {{ animal.name|capitalize }} :
            <dd>
            <span>{{ nbRegister }}</span>
            </dd>
        </dt>
    </dl>
{% endblock %}

{% block title %}
    {{ animal.name|capitalize }}
{% endblock %}