{% extends 'base.html.twig' %}
{% block route %} {% if species %}{{ path('app_animals',{idEspece : idEspece })}}
{% else %} {{ path('app_animals_showall') }} {% endif %}{% endblock %}
{% block title %}Liste des animaux {% if species %}appartenant à l'espèce {{ name }}{% endif %} {% endblock %}
{% block body %}
    <h1 class="text-center subsectionTitle">Liste des animaux {% if species %}appartenant à l'espèce {{ name }}{% endif %}</h1>
    <hr>
    <form class="d-flex mt-3 mb-5" role="search" action="{% if species %}{{ path('app_animals',{idSpecies : idSpecies })}}{% else %} {{ path('app_animals_showall') }} {% endif %}">
        <input class="form-control me-2" type="search" placeholder="Rechercher un animal parmis cette liste" aria-label="Search" name="search" value="{{ search |default('') }}">
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
    </form>
    <ul class="container d-flex flex-wrap justify-content-center">
        {% for animal in animals %}
            {% if species %}
                {% for an in animal.animals %}
                    {% set image = an.image.image|default('') %}
                    <li class="card m-3" style="width: min-content">
                        <img class="card-img-top" src="{{ an.image.image ?? asset('/img/default.png')}}" alt="Image inconnue" width="256" height="256">
                        <div class="card-body">
                            <h5 class="card-title">{{ an.name | capitalize }} ({{ an.species.name }})</h5>
                            <p class="card-text">{{ an.description }} </p>
                            <a href="{{ path('app_animal_show', {'id': an.id}) }}" class="btn btn-primary">Afficher les détails à propos de {{ an.name | capitalize }}</a>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                {% set image = animal.image.image|default('') %}
                <li class="card m-3" style="width: min-content">
                    <img src="{{ animal.image.image ?? asset('/img/default.png')}}" alt="Image inconnue" width="256" height="256">
                    <div class="card-body d-flex flex-column">
                        <h5 class="cardtitle" style="color: black">{{ animal.name | capitalize }} ({{ animal.species.name }})</h5>
                        <p class="card-text flex-fill" style="color: black">{{ animal.description }} </p>
                        <a href="{{ path('app_animal_show', {'id': animal.id}) }}" class="btn btn-primary">Afficher les détails à propos de {{ animal.name | capitalize }}</a>
                        {% if is_granted("ROLE_ADMIN")%}
                            <a href="{{ path('app_animal_update', {'id': animal.id}) }}" class="btn btn-warning mt-3">Modifier les détails à propos de {{ animal.name | capitalize }}</a>
                            <a href="{{ path('app_animal_delete', {'id': animal.id}) }}" class="btn btn-danger mt-3">Supprimer {{ animal.name | capitalize }}</a>
                        {% endif%}
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endblock %}
